.welcome1 {
<<<<<<< HEAD
    background-image: url('https://static1.squarespace.com/static/531a925ae4b089910eb662f5/58b73e5e5016e151ebd765c3/5a1097faf9619a64a2c1cfa2/1511041510887/ground-coffee.jpg?format=2500w');
    background-repeat: none;
}

=======
    background-image: url('https://images.wallpaperscraft.com/image/coffee_cup_wooden_surface_106291_1600x900.jpg')
}

/* body {
    background-image: url('https://images.wallpaperscraft.com/image/coffee_foam_cup_140184_1600x900.jpg')
} */
>>>>>>> d48e292cf654b1601b336702e3eefec8a5c283b7
