body {
    background-image: url('https://images.unsplash.com/photo-1519677868118-ae4345cbad1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    
}