


.history1 {
    background-color: burlywood;
    background-repeat: no-repeat;
    background-size: contain;
}

.roast {
    background-color: burlywood
}

.CATW {
    background-color: burlywood
}
  
.grind {
    background-color: burlywood
}

.logo {
        background-image: url(/Users/brandonquezada/Desktop/Bootcamp homework/Deja-Brew/deja-brew/client/src/components/Tabs/grind-coffee.png);
}